/backend/node_modules
/backend/dist
/backend/.env
/backend/test
/backend/prisma/migrations


/frontend/node_modules
/frontend/.expo
/frontend/dist
/frontend/web-build
/frontend/expo-env.d.ts
/frontend/*.orig.*
/frontend/*.jks
/frontend/*.p8
/frontend/*.p12
/frontend/*.key
/frontend/*.mobileprovision
/frontend/.metro-health-check*
/frontend/npm-debug.*
/frontend/yarn-debug.*
/frontend/yarn-error.*
/frontend/.DS_Store
/frontend/*.pem
/frontend/.env*.local
/frontend/*.tsbuildinfo
/frontend/.env
